.icon-fix{
    position: relative;top: -2px;
}

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    padding-top: 20px;
}

.list-group-item:hover {
    border: none;
    border-radius: 0;
    background-color: #2c3e50 !important;
    color: #1a7d3b !important;
    font-size: 16px;
}
#page-content-wrapper.full-width{
    margin-left: 0px;
}
#page-content-wrapper.with-sidebar{
    margin-left: 250px;
}